@-moz-document domain("telegra.ph") {
  body {
	background-color: #050505;
}
.tl_article a[href],
.tl_article address {
	color: #222;
}
.tl_article .tl_article_content,
.tl_article .tl_article_content .ql-editor,
.tl_article .tl_article_header {
	color: #333;
}
.tl_article .tl_article_content .figure_wrapper img,
.tl_article .tl_article_content .figure_wrapper video {
	opacity: 0.1;
}
.tl_article .tl_article_content .figure_wrapper img:hover,
.tl_article .tl_article_content .figure_wrapper video:hover {
	opacity: 1;
}
}
